name: Cypress Staging Tests

on:
  push:
    branches:
      - cypress-ci-integration

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node 14.x
        uses: actions/setup-node@v3
        with:
          node-version: 14.*

      - name: Install Dependencies
        run: npm install

      - name: Cypress run
        uses: cypress-io/github-action@v5
        with:
          component: false
          build: npm run build
          start: start:ci:cypress
          wait-on: 'http://localhost:8080'
